<effect_plan>
<ver>2</ver>
<analyzer_id>123</analyzer_id>
<plan_id>1</plan_id>
<ttl>3</ttl>
<update_interval>3600</update_interval>
<period>3</period>
<lookahead>3,2,4,2,2,5</lookahead>
<url_type>
    <rule>
        <priority>1</priority>
        <type_id>5</type_id>
        <match_field>url</match_field>
        <target_type>referer</target_type>
        <match_regexps>
            <match_regexp>
                <regexp><![CDATA[ali_trackid=1_]]></regexp>
            </match_regexp>
        </match_regexps>
        <extract_regexps>
            <extract_regexp>
                <regexp><![CDATA[ali_refid=.+:\w+:\d+:(.*?):]]></regexp>
                <props>
                    <prop field="refid" value="$1" />
                </props>
            </extract_regexp>
        </extract_regexps>
    </rule>
    <rule>
        <priority>10</priority>
        <type_id>1</type_id>
        <match_field>referer</match_field>
        <target_type>referer</target_type>
        <match_regexps>
            <match_regexp>
                <regexp><![CDATA[http://.*\.baidu\.com\?query=([^&]*)&dummy=([^&]*)]]></regexp>
                <props>
                    <prop field="keyword" value="$1" />
                    <prop field="y" value="$2" />
                </props>
            </match_regexp>
        </match_regexps>
    </rule>
    <rule>
        <priority>10</priority>
        <type_id>2</type_id>
        <match_field>referer</match_field>
        <target_type>referer</target_type>
        <match_regexps>
            <match_regexp>
                <regexp><![CDATA[http://.*\.google\.com\?query=([^&]*)&foo=([^&]*)]]></regexp>
                <props>
                    <prop field="keyword" value="$1" />
                    <prop field="y" value="$2" />
                </props>
            </match_regexp>
        </match_regexps>
    </rule>
</url_type>
<src_path>
    <rule>
        <priority>10</priority>
        <limit>
            <num>1000</num>
            <effect_id>1</effect_id>
        </limit>
        <path_id>1</path_id>
        <path>
            <node id="0" type_refs="1" next="1" expand=":keyword" />
            <node id="1" type_refs="*" />
        </path>
        <effect_owner>0</effect_owner>
    </rule>
    <rule>
        <priority>10</priority>
        <limit>
            <num>1000</num>
            <effect_id>1</effect_id>
        </limit>
        <path_id>1</path_id>
        <path>
            <node id="0" type_refs="2" next="1" expand=":keyword" />
            <node id="1" type_refs="*" />
        </path>
        <effect_owner>0</effect_owner>
    </rule>
</src_path>
<tree_split method="ali:etao,taobao" />
<attr_calc method="last" />
<max_session_nodes>1000</max_session_nodes>
<tree_grouping_fields>
	<fields id="0" name="cookie" />
	<fields id="1" name="session" />
</tree_grouping_fields>
<effects>
    <ind id="0" ind_id="103" />
    <ind id="1" ind_id="104" />
    <ind id="2" ind_id="205" />
</effects>
</effect_plan>